@font-face {
    font-family: 'acmeregular';
    src: url('../fonts/acme-regular-webfont.woff2') format('woff2'),
         url('../fonts/acme-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* CLASSES TO HELP ME */

/* div{
    border: red solid 1px;
} */
body {
    background-image: url(../images/BG.png);
    background-size:auto;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    overflow : hidden;
    font-family: 'acmeregular' ;
    
    
}
header{
    background-image: url(../images/herobg2.png);
    background-size:cover;
    z-index: 10;
    height : 10vw;
    width:100vw;
    box-shadow: 0px 5px 10px #00000073;
}

.games-score{
    background-color: #e5e7ff;
    font-size: 5vw;
    border-radius: 1.5vw;
}
#logo{
    height:8vw;
    padding-top : 1.5vw;
}

#banner {
    height: 100%;
    font-size: 1.4vw;
}
header p {
    color : #e5e7ff;
}
.cards-size{
    height: 11vw;
    cursor:pointer;
}
#compare-cards img{
    height : 15vw;
}

#init{
    height: 3.5vw;
    width : 5vw;
    cursor: pointer;
    transition: 1s;
    
}
#init:hover{
    transform: rotate(180deg);
    transition: 1s;
}
#init:active{
    transform: rotate(720deg);
    transition : 0.8s;
}
#compare-cards{
    height: 16vw;
}
#state {
    color : #e5e7ff;
    font-size : 2vw;
}

#score{
    font-size : 2vw;
    background-color: #e5e7ff;
    border-radius: 1vw;
    width : 8vw;
    color : #383838;
    border : 1px solid #383838;
    box-shadow: 0 3px 5px #383838;
}
#my-choice{
    position:relative;
}
#comp-choice{
    position:relative;
}

.slide {
    position : absolute;
    left: 18vw;
    animation-name: slide;
    animation-duration: 0.3s;
    

}

@keyframes slide {
    0% {top : 1300px;}
    100% {top : 0px;}
}

@media screen and (max-width : 1024px){

}

@media screen and (max-width : 767px) {

}